.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
  border-width: 2px;
  background-color: #f8fafc;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);

  & > svg {
    opacity: 0.4;
  }

  &-neutral {
    border-color: #f8fafc; 
  }
  &-primary {
    border-color: #3b82f6; 
  }
  &-secondary {
    border-color: #4b5563; 
  }
  &-accent {
    border-color: #d97706; 
  }
  &-info {
    border-color: #0ea5e9; 
  }
  &-success {
    border-color: #10b981; 
  }
  &-warning {
    border-color: #f59e0b; 
  }
  &-error {
    border-color: #ef4444; 
  }
  &-ghost {
    border-color: #f3f4f6; 
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
