.user-box {
    font-size: 1rem;
    color: #3b82f6;
  
  }
  .user-details { 
    border: 1px solid #478af5;
    padding: 10px;
    margin: 1rem;
    display: flex;
    align-items: center;
  }
  .user-nam{
    margin-left: 10px;
    font-weight: 600;
    font-size: medium;
  }
  
